// color cube
$white: #ffffff;
$shamrock: #4bd7a8;
$regent-st-blue: #a1bae2;
$thunder: #292629;
$donkey-brown: #a3907c;
$denim: #1a5eca;
$golden-tainoi: #fecc4f;
$red: #fd0303;
$tuscany: #bd5029;
$bright-turquoise: #01d7f5;
// median cut
$william: #3c6669;
$athens-gray: #e4e8ed;
$au-chico: #995d5c;
$gull-gray: #97a9ba;
$muddy-waters: #b89062;
// material design
$shamrock-2: #4dd3ac;
$thatch: #b9a59c;
$east-blue: #3b5182;
$shark: #2d2e34;
$regent-st-blue-2: #9dbbe3;
